In [1]:
import pandas as pd

In [12]:
# from fastai.vision import *
# from fastai.metrics import error_rate
# from fastai.basics import URLs, untar_data

# # Define the URL of the food-101 dataset
# food_url = URLs.FOOD

# # Download and extract the dataset
# path = untar_data(food_url)

In [6]:
import pandas as pd

train_path = 'F:\\Data Science\\GitHub\\Computer-Vision\\Data\\data\\food-101\\train.txt'
test_path = 'F:\\Data Science\\GitHub\\Computer-Vision\\Data\\data\\food-101\\test.txt'

def filelist2df(path):
    df = pd.read_csv(path, delimiter='/', header=None, names=['label', 'name'])
    df['name'] = df['label'].astype(str) + "/" + df['name'].astype(str) + ".jpg"
    return df

train_df = filelist2df(train_path)

test_df = filelist2df(test_path)

In [7]:
train_df

           label                   name
0      apple_pie  apple_pie/1005649.jpg
1      apple_pie  apple_pie/1014775.jpg
2      apple_pie  apple_pie/1026328.jpg
3      apple_pie  apple_pie/1028787.jpg
4      apple_pie  apple_pie/1043283.jpg
...          ...                    ...
75745    waffles     waffles/981485.jpg
75746    waffles      waffles/98238.jpg
75747    waffles     waffles/982668.jpg
75748    waffles     waffles/995085.jpg
75749    waffles     waffles/999047.jpg

[75750 rows x 2 columns]

In [ ]:
hi